<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="lightbdd" type="LightBDD.Configuration.LightBDDConfiguration, LightBDD"/>
  </configSections>
  <lightbdd>
    <summaryWriters>
      <!-- FeaturesSummary.xml is added by default. Use <clear /> to remove it.-->
      <add formatter="LightBDD.Results.Formatters.HtmlResultFormatter, LightBDD" output="../../../../TestReports/Customer.Tests.html"/>
    </summaryWriters>
  </lightbdd>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
